a.projectbutton{
	color: black;
	font: 35px "futura-pt";	
	display: block;
	width: 425px;
	height: 243px;
    padding-top: 182px;
}

/* a.projectbutton2{
	color: black;
	font: 35px "futura-pt";	
	display: block;
	width: 425px;
	height: 265px;
	padding-top: 160px;
} */

span.projecttitle {
	background-color: white;
	opacity: .5;
}

div.projectleftbar {
	float:left;
	text-align: center ;
	/* width:425px; */
    width: 48%;
	margin-bottom: 25px; 
	margin-top: 25px;
}

div.projectrightbar {
	float:right;
	/* width:425px; */
    width: 48%;
	text-align: center ;
	/* margin-left: 50px; */
	margin-bottom: 25px;
    margin-top: 25px;
}

div.projectmenu {
	margin-top: -25px;
}

div.projectrow {
	margin-top: 25px;
	margin-bottom: 25px;
    width: 100%;
}

div.projectimagerow {
	margin-top: 25px;
	margin-bottom: 15px;
	float:center;
}

div.projecttextleftbar {
	float:left;
	text-align: left ;
	width:48%;
}

div.projecttextrightbar {
	float:right;
	width:48%;
	text-align: left ;
}

div.projecttextrow {
	margin-top: 15px;
	float:left;
}

div.caption {
	padding-left:9px;
	padding-right:9px;
	text-align: center ;
	font-size:14px;
    margin-top: 5px;
}

@media only screen and (max-width: 1140px) {

    div.projectleftbar {
        position: relative;
        float:left;
        text-align: center ;
        width: 100%;
        margin-bottom: 25px; 
        margin-top: 25px;
        /* margin-left: 30% */
    }

    div.projectrightbar {
        position: relative;
        float:left;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
        /* margin-left: 30% */
    }

    a.projectbutton{
        display: table;
        margin: auto
    }
}

@media only screen and (max-width: 800px) {
    div.projecttextleftbar {
        float:left;
        text-align: left ;
        width:100%;
    }

    div.projecttextrightbar {
        float:left;
        width:100%;
        text-align: left ;
        margin-top:-15px;
    }
}

#takua {
	background: url('../includes/buttons/takua.png') bottom;
}

#takua:hover{
	background-position: 0 0;
}

#multifluids {
	background: url('../includes/buttons/multifluid.png') bottom;
}

#multifluids:hover{
	background-position: 0 0;
}

#gpupathtracer {
	background: url('../includes/buttons/gpupathtracer.png') bottom;
}

#gpupathtracer:hover{
	background-position: 0 0;
}

#jello {
	background: url('../includes/buttons/jello.png') bottom;
}

#jello:hover{
	background-position: 0 0;
}

#smoke {
	background: url('../includes/buttons/smoke.png') bottom;
}

#smoke:hover{
	background-position: 0 0;
}

#ariel {
	background: url('../includes/buttons/ariel.png') bottom;
}

#ariel:hover{
	background-position: 0 0;
}


#kitchen {
	background: url('../includes/buttons/kitchen.png') bottom;
}

#kitchen:hover{
	background-position: 0 0;
}

#volumerenderer {
	background: url('../includes/buttons/volumerenderer.png') bottom;
}

#volumerenderer:hover{
	background-position: 0 0;
}

#pups2011 {
	background: url('../includes/buttons/pups.png') bottom;
}

#pups2011:hover{
	background-position: 0 0;
}

div.newprojectheader{
    color: #4b4b4b;
    font: 24px "futura-pt"; 
}

div.newprojectleftbar {
    float:left;
    text-align: center ;
    width:400px;
}

div.newprojectrightbar {
    float:right;
    width: calc(100% - 450px);
    text-align: left ;
}

.newprojectleftbar img {
    display: block;
    width: 100%;
    object-fit: scale-down;
}

div.newprojectrow {
    float:left;
    margin-bottom: 50px;
}

.downloads p{
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media only screen and (max-width: 1145px) {
    div.newprojectleftbar {
        float:left;
        text-align: center ;
        width:350px;
    }

    div.newprojectrightbar {
        float:right;
        width: calc(100% - 400px);
        text-align: left ;
    }

    .newprojectleftbar img {
        margin-top:-10px;
    }
}

@media only screen and (max-width: 800px) {
    div.newprojectleftbar {
        float:left;
        text-align: center ;
        width:400px;
        position: relative;
        margin-left: calc((100% - 400px) / 2);
    }

    div.newprojectrightbar {
        float:left;
        width:400px;
        text-align: left ;
        position: relative;
        margin-left: calc((100% - 400px) / 2);
        margin-bottom:-20px;
        border-bottom: solid;
        border-bottom-color: #808080;
    }

    .newprojectleftbar img {
        margin-top:5px;
        margin-bottom:20px;
    }
}

@media only screen and (max-width: 500px) {
    div.newprojectleftbar {
        float:left;
        text-align: center ;
        width:300px;
        position: relative;
        margin-left: calc((100% - 300px) / 2);
    }

    div.newprojectrightbar {
        float:left;
        width:300px;
        text-align: left ;
        position: relative;
        margin-left: calc((100% - 300px) / 2);
        margin-bottom:-25px;
    }

    .newprojectleftbar img {
        margin-top:-20px;
        margin-bottom:-5px;
    }

    div.caption {
        font-size:12px;
    }
}

@media only screen and (max-width: 350px) {
    div.newprojectleftbar {
        float:left;
        text-align: center ;
        width:250px;
        position: relative;
        margin-left: calc((100% - 250px) / 2);
    }

    div.newprojectrightbar {
        float:left;
        width:250px;
        text-align: left ;
        position: relative;
        margin-left: calc((100% - 250px) / 2);
        margin-bottom:-30px;
    }

    .newprojectleftbar img {
        margin-top:-30px;
        margin-bottom:-20px;
    }
}