div.frontpageheader{
    color: #4b4b4b;
    font: 24px "futura-pt"; 
}

div.frontpageleftbar {
    float:left;
    text-align: left ;
    width:55%;
}

div.frontpagerightbar {
    float:right;
    width:42%;
    margin-left: 3%;
}

div.frontpagerightbarsplitright {
    float:right;
    width:275px;
}

div.frontpagerightbarsplitleft {
    float:left;
    width:300px;
    text-align: left ; 
}

div.frontpagerow {
    float:left;
    margin-bottom: 50px;
}

div.newsheader{
    color: #4b4b4b;
    font: 24px "futura-pt"; 
}

div.newsleftbar {
    float:left;
    text-align: left ;
    width: 13%;
    font: 17px "futura-pt"; 
    font-weight: 500;
}

div.newsrightbar {
    float:right;
    width: 87%;
    margin-left: 0px;
    font: 17px "proxima-nova";
}

div.newsrightbarsplitright {
    float:right;
    width:275px;
}

div.newsrightbarsplitleft {
    float:left;
    width:300px;
    text-align: left ; 
}

div.newsrow {
    float:left;
    margin-bottom: 5px;
    width:100%;
}

@media only screen and (max-width: 600px) {

div.frontpageleftbar {
    float:left;
    text-align: left ;
    width:100%;
}

div.frontpagerightbar {
    float:left;
    width:100%;
    text-align: left ;
    margin-left: 0%;
}
}

@media only screen and (max-width: 1000px) {

div.newsleftbar {
    float:left;
    text-align: left ;
    width: 100%;
    font: 17px "futura-pt"; 
    font-weight: 500;
}

div.newsrightbar {
    float:right;
    width: 100%;
    text-align: left ;
    margin-left: 0px;
    font: 17px "proxima-nova";
}

div.newsrow {
    float:left;
    margin-bottom: 15px;
    width:100%;
}

}