body {
	margin:0;
	padding:0;
	border:0;			
	width:100%;
	background:#fff;
	min-width:600px;		
	font-size:90%;
	color: gray;
	text-align: center;
}

name {
	font: 80px Helvetica, Arial, Georgia, Times, serif;
}

subtitle {
	font: 20px Helvetica, Arial, Georgia, Times, serif;
}

contact {
	font: 10px Helvetica, Arial, Georgia, Times, serif;
}

a {
	text-decoration: none;
	color: gray;
}
a:link {
	color: gray;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:gray;
}
a:hover {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: gray;
}