div.resumeheader{
	color: #4b4b4b;
	font: 24px "futura-pt";	
}

div.resumeleftbar {
	float:left;
	text-align: right ;
	width:28%;
}

div.resumerightbar {
	float:right;
	width:68%;
}

div.resumerightbarsplitright {
	float:right;
	width:275px;
}

div.resumerightbarsplitleft {
	float:left;
	width:300px;
	text-align: right ;	
}

div.resumerow {
	float:left;
	margin-bottom: 50px;
    width:100%;
}

@media only screen and (max-width: 700px) {

div.resumeleftbar {
    float:left;
    text-align: left ;
    width:100%;
    margin-bottom: 20px;
}

div.resumerightbar {
    float:left;
    width:100%;
    text-align: left ;
    margin-left: 0%;
}

div.resumerow {
	margin-bottom: 20px;
}
}